<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./static/js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <a>
        <button >The next pic</button>
        <button >The last pic</button>
    </a>
    <img src="./static/img/2017-05-16 16-26-36屏幕截图.png" id="pic_hold" width="300px" height="300px">
    <div id="a"></div>
    <a>
        <button onclick="foldAdd()">The next fold pages</button>
        <button onclick="foldSub()">The last fold pages</button>
    </a>


{#<script>#}
{#        var number_pic = {{ show_pic_info.number|tojson }};#}
{#        var file_path = {{ show_pic_info.path|tojson }};#}
{#        var the_number = 0;#}
{#        function addPic() {#}
{#            var hold = document.getElementById('pic_hold');#}
{#            if (the_number + 1 == number_pic){#}
{#                the_number = the_number;#}
{#            }#}
{#            else{#}
{#                the_number += 1;#}
{#            }#}
{#            var pic_path= file_path + '/' + the_number.toString() + '.jpg';#}
{#            hold.setAttribute('src',pic_path)#}
{#        }#}
{#        function subPic() {#}
{#            var hold = document.getElementById('pic_hold');#}
{#            if (the_number - 1 <0){#}
{#                the_number = the_number;#}
{#            }#}
{#            else{#}
{#                the_number -= 1;#}
{#            }#}
{#            var pic_path= file_path + '/' + the_number.toString() + '.jpg';#}
{#            hold.setAttribute('src',pic_path)#}
{#        }#}
{#    </script>#}
</body>
    <script>
            var ppt_catalog_num = 1;
            var ppt_catalog_total ;
            var ppt_catalog = document.getElementById('a');
            var folds = {{ folds|safe }};
            if (folds.length%5==0){
                ppt_catalog_total = folds.length/5;
            }
            else{
                ppt_catalog_total = Math.floor(folds.length/5) + 1;
            }
            var ul_array = [];
            var result = [];
            for(var i=0,len=folds.length;i<len;i+=5){
                result.push(folds.slice(i,i+5));
            }
            for (var i = 0 ; i < result.length;i++){
                var div_list = document.createElement('div');
                for ( var j = 0 ; j < result[i].length;j++){
                    var the_p = document.createElement('p');
                    var text = document.createTextNode(result[i][j].toString());
                    the_p.appendChild(text);
                    div_list.appendChild(the_p);
                }
                ul_array.push(div_list);
            }
            ppt_catalog.appendChild(ul_array[1])

    </script>
    <script>
         function foldAdd() {
                if (ppt_catalog_num + 1 == ppt_catalog_total){
                    ppt_catalog_num = ppt_catalog_num;
                }
                else{
                    ppt_catalog_num += 1;
                }
                var a = document.getElementById('a');
                $('#a').empty()
                a.appendChild(ul_array[ppt_catalog_num]);

            }
        function foldSub() {
            if (ppt_catalog_num - 1 < 0){
                ppt_catalog_num = ppt_catalog_num;
            }
            else{
                ppt_catalog_num -= 1;
            }
            var a = document.getElementById('a');
            $('#a').empty()
            a.appendChild(ul_array[ppt_catalog_num]);
        }
    </script>
</html>