<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1' />



<link href="./static/css/bootstrap.min.css" rel="stylesheet">
<link href="./static/css/font-awesome.min.css" rel="stylesheet">
<link href="./static/css/teacher_home.css" rel="stylesheet">


<link href="./static/css/teacher_home.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/font-awsome.min.css">

<title>教师主页</title>
    <script src="./static/js/echart.min.js"></script>

</head>

<body style="background-color: wheat">
<div class='container-fluid'>
        <div class='row' style="margin-top: 100px">
            <div class='col-md-2 col-sm-2 col-xs-2'>
                <nav class='navbar navbar-default navbar-fixed-top' style='width:200px;top:1%;left:1%;padding:5px;margin-top: 100px'>
                    <div class='navbar-header' >
                        <button class='navbar-toggle collapsed' data-toggle='collapse' data-target='#sidebar-navbar-collapse'>
                        <span class='icon-bar'></span><span class='icon-bar'></span><span class='icon-bar'></span>
                        </button>
            </div>
            <div class='navbar-collapse collapse' id='sidebar-navbar-collapse'>

                <ul class='nav nav-stacked' style="align-content: flex-start ;padding: 0px;">
                    <li><a href='#' class='btn btn-success' style="text-align: left;background-color: #252c35;width: 295px;padding: 18px 30px;margin: 0px"><span class='hidden-sm hidden-xs'>

                        <img src="./static/image/主页(1).png" height="25" width="25"/>&emsp;主页</span></a></li>
                    <li><a href='#' class='btn btn-link' style="text-align: left;background-color:#252c35;width: 295px;padding: 18px 30px;"><span class='hidden-sm hidden-xs'>
                        <img src="./static/image/图表.png" height="25" width="25"/>&emsp;图表</span></a></li>
                    <li><a href='#' class='btn btn-link' style="text-align: left;background-color: #252c35;width: 295px;padding: 18px 30px;"><span class='hidden-sm hidden-xs'>
                        <img src="./static/image/聊天(1).png" height="25" width="25"/>&emsp; 聊天</span></a></li>
                    <li><a href='#' class='btn btn-link' style="text-align: left;background-color: #252c35;width: 295px;padding: 18px 30px;"></span><span class='hidden-sm hidden-xs'>
                        <img src="./static/image/设置.png" height="25" width="25"/> &emsp;设置</span></a></li>
                    <li><a href='#' class='btn btn-link' style="text-align: left;background-color: #252c35;width: 295px;padding: 18px 30px;"></span><span class='hidden-sm hidden-xs'>
                        <img src="./static/image/上传(2).png" height="25" width="25"/> &emsp;上传</span></a></li>
                    <li><a href='#' class='btn btn-link' style="text-align: left;background-color: #252c35;width: 295px;padding: 18px 30px;"></span><span class='hidden-sm hidden-xs'>
                        <img src="./static/image/下载(1).png" height="25" width="25"/> &emsp;下载</span></a></li>


            </div>
                </nav>
            </div>

            <div class='col-md-7 col-sm-7 col-xs-7' style='padding:30px'>
                <h2 style='display:inline;'> </ul><img src="./static/image/群众.png" height="50" width="50"/>&emsp;人员名单</h2>

            <div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>
                        </tr>
                    </thead>

                    <tbody id='all-list'>
                    </tbody>
                </table>
            </div>
            <hr />
            <h2><img src="./static/image/图表.png" height="50" width="50"/> 图表</h2>
            <div class='row'>
                <div class='col-md-12 col-sm-12 col-xs-12 ' style="background-color:whitesmoke;">

                    <div id="main" style="width:1000px;height:450px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('main'));


                        // 指定图表的配置项和数据
                        var option = {
                            title: {
                                text: '到课率'
                            },
                            tooltip: {},
                            legend: {
                                data:['以往到课率','本节到课率']
                            },
                            xAxis: {
                                data: ["周一","周二","周三","周四","周五"]
                            },
                            yAxis: {

                            },
                            series: [
                                {
                                name: '以往到课率',
                                type: 'line',
                                data: [5, 20, 36, 10, 20],
                                },
                                {
                                    name: '本节到课率',
                                    type: 'line',
                                    data: [8, 80, 50, 90, 4]
                                }]


                        };

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);

                    </script>


                    </div>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-12' style="margin-top: 10px;">
                    <div class='panel panel-default' style='width:100%;height:300px' id='chart2'>
                        <div class='panel-heading' style='height:80px;'>
                            <h3><img src="./static/image/学生.png" height="50" width="50"/> 到课率较高的学生</h3>
                        </div>
                        <div class='panel-body' style='height:220px;overflow:auto;'>
                            <ul class='list-group'>
                                <li class="list-group-item">



                                <li class="list-group-item">
                                    
                                </li>
                                <li class="list-group-item">
                                    
                                </li>
                                <li class="list-group-item">
                                    
                                </li>
                                <li class="list-group-item">
                                    
                                </li>
                                <li class="list-group-item">


                                <li class="list-group-item">
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-12 'style="margin-top: 10px;">
                    <div class='panel panel-default' style='width:100%;height:300px' id='chart3'>
                        <div class='panel-heading' style='height:80px;'>
                            <h3><img src="./static/image/说话.png" height="50" width="50"/> 想说的话</h3>
                        </div>
                        <div class='panel-body' style='height:220px;overflow:auto;'>
                            <ul class='list-group'>
                                <li class="list-group-item"><img src="./static/image/学生.png" height="25" width="25"/>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><img src="./static/image/学生.png" height="25" width="25"/>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><img src="./static/image/学生.png" height="25" width="25"/>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><img src="./static/image/学生.png" height="25" width="25"/>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><img src="./static/image/学生.png" height="25" width="25"/>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><img src="./static/image/学生.png" height="25" width="25"/>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><img src="./static/image/学生.png" height="25" width="25"/>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><img src="./static/image/学生.png" height="25" width="25"/>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><img src="./static/image/学生.png" height="25" width="25"/>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><img src="./static/image/学生.png" height="25" width="25"/>&emsp;老师课讲得不错</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h2 style='display:inline;'><img src="./static/image/未签到_line.png" height="50" width="50"/>&emsp; 未签到人员名单</h2>
                <table class="table table-striped table-hover">

                    <thead>

                    <tr>
                        <th>姓名</th>
                        <th>到课情况</th>
                    </tr>
                    </thead>
                    <tbody id='no-list'>
                    </tbody>
                </table>
            </div>

            <div class='col-md-3 col-sm-3 col-xs-3' align="center" >
                <img src="./static/image/学生.png" height="250" width="250"/>

            <span><h3 style="font-family: '微软雅黑 Light'">  张三</h3></span>
            <span><h4 style="font-family: 'Adobe 仿宋 Std R' ">  追梦人</h4></span>
            <span><h4 style="font-family: 'Adobe 仿宋 Std R' ">  66666666@qq.com</h4></span>
            </div>
        </div>
    </div>
    </div>

<script src="./static/js/jquery.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script src='./static/js/Chart.js'></script>
<script src='./static/js/highcharts.js'></script>
<script>
    //对学生名单以及未到学生名单的展示
    var object_js;
    var s=new Array();
    s.push('btn-danger');
    s.push('btn-success');
    var allList=document.getElementById('all-list');
    
    var object_no;
    var noList=document.getElementById('no-list');
    
    
    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    function check_stu(){
        $.ajax({
            url: '/main_page/data', //在这里提填写你的地址
            async: true,
            dataType: 'json',
            success: function (json_str) {
                object_js=json_str;
                showAllList();
            }  
        });
    }
    
    
    function showAllList(){
        $('#all-list tr').remove();
        var size=0,key;
        var statuses=new Array();
        var names=new Array();
        for(key in object_js){
            if(object_js.hasOwnProperty(key)){
                names.push(key);
                statuses.push(object_js[key]);
                size++;
            }
        }
        var i=0;
        for(i=0;i<size;){
            var tr=document.createElement('tr');
            do{
                if(i>=size){
                    break;
                }
                var td=document.createElement('td');
                var btn=document.createElement('a');
                $(btn).html(names[i]);
                $(btn).attr('href','#');
                $(btn).addClass('btn');
                $(btn).css('width','100%');
                $(btn).addClass(s[statuses[i]]);
                td.appendChild(btn);
                tr.appendChild(td);
                i++;
            }while(i%8!=0);
            allList.appendChild(tr);
        }
    }
    
    
    check_stu();
    
    
    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    setInterval('check_stu()',3000);//6000是间隔时间  单位为毫秒 6000就是一分钟
    
    
    function check_stu_no(){
        $.ajax({
            url: '',
            async: true,
            dataType: 'text',
            success: function (json_str) {
                object_no=JSON.parse(json_str);
                showNoList();
            }  
        });
    }
    
    function showNoList(){
        $('#no-list tr').remove();
        var size=0;
        var names=new Array();
        for(var key in object_no){
            if(object_no.hasOwnProperty(key)){
                names.push(key);
                size++;
            }
        
        }
        for(var i=0;i<size;i++){
            var tr=document.createElement('tr');
            var td1=document.createElement('td');
            var td2=document.createElement('td');
            $(tr).addClass('danger');
            td1.innerHTML=names[i];
            td2.innerHTML='未签到';
            tr.appendChild(td1);
            tr.appendChild(td2);
            noList.appendChild(tr);
        }
    }
    
    check_stu_no()
    setInterval('check_stu_no()',60000);
    
    var allRefresh=$('#all-refresh');
    var noRefresh=$('#no-refresh');
    allRefresh.click(function(){showAllList();});
    noRefresh.click(function(){showNoList();});
    
    //对三个图表的展示
    
    //第一个图
    var data_avg=new Array();//平均到课率
    var data_my=new Array();//老师自己的课的到课率
    
    function classPercentage_avg(){
        var json_str='{"1":75,"2":80,"3":85,"4":89}';//这里是需要填写的json数据，格式是 "第几周":到课率
        var json_obj=JSON.parse(json_str);
        var data=new Array()
        for(var i in json_obj){
            data.push(json_obj[i]);
        }
        return data;
    }
    
    function classPercentage_my(){
        var json_str='{"1":80,"2":85,"3":95,"4":90}';//这里是需要填写的json数据，格式是 "第几周":到课率
        var json_obj=JSON.parse(json_str);
        var data=new Array()
        for(var i in json_obj){
            data.push(json_obj[i]);
        }
        return data;
    }
    data_avg=classPercentage_avg();
    data_my=classPercentage_my();
    
    
    
    $('#chart1').highcharts({
        title:{
            text:"到课率"
        },
        xAxis: {
            title:{
                text:'周数'
            },
            categories: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
        },
        yAxis:{
            title:{
                text:'到课百分比'
            }
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{y}%',
                }
            }
        },
        series: [{
            name:'平均到课率',
            data: data_avg
        },
        {
            name:"您的到课率",
            data:data_my
        }]
    });
    
    //到课率较高的学生
    var hrefs=new Array();
    var names=new Array();
    var all=new Array();
    var stus_good=$('#chart2 ul.list-group li.list-group-item');
    
    function suggestStu(){
        var json_str='{"小明":"./1.html","小李":"./2.html","小王":"./3.html","小吴":"./4.html","小赵":"./5.html","小黄":"./6.html","小钱":"./7.html"}';//这里是需要填写的json数据，格式是 "学生姓名":"学生主页的链接"
        var json_obj=JSON.parse(json_str);
        var names=new Array();
        var hrefs=new Array();
        for(var i in json_obj){
            names.push(i);
            hrefs.push(json_obj[i]);
        }
        return new Array(names,hrefs);
    }
    
    all=suggestStu();
    names=all[0];
    hrefs=all[1];


    
    stus_good.html(
        function(index,obj_j){
            stus_good.eq(index).html
            (
                "<a class='btn btn-default' style='width:100%;border-style:none;' href='"+hrefs[index]+"'>" +
                "<img href='static/image/学生.png'>"+
                names[index]+
                "</a>"
            );
        }
    );

//{#    <img src="./static/image/学生.png" height="200" width="200"/><img src="./static/image/学生.png" height="200"#}
//{#                                                                     width="200"/>#}
   </script>

</body>

</html>