<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Klorofil - Free Bootstrap Dashboard Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand" style="padding: 15px">
				<a href="index.html"><img src="assets/img/wa.jpg" alt="Klorofil Logo" class="img-responsive logo" width="50px" height="50px"></a>			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
				</form>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
					  </li>
						<!-- <li>
							<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
						<li><a href="" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
						<li><a href="" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
						<li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="" class="">Profile</a></li>
									<li><a href="" class="">Login</a></li>
									<li><a href="" class="">Lockscreen</a></li>
								</ul>
							</div>
						</li>
						<li><a href="" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
						<li><a href="" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
						<li><a href="" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading" style="width:800px">
							<h3 class="panel-title">Weekly Overview</h3>
							<h3 class="panel-title">Period: June 9, 2017 </h3>
						</div>
						<div class="panel-body">
							<div class="row"></div>
						<div class="row">
							<div class='col-md-9 col-sm-9 col-xs-9'>
									<div id="headline-chart" class="ct-chart">
									<!--添加人员名单-->
				<div class='col-md-12 col-sm-12 col-xs-12' style='padding:30px'>
                <h2 style='display:inline;'> <img src="./assets/img/群众.png" height="50" width="50"/>&emsp;人员名单</h2>

            <div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>
                            <th>姓名</th>

                        </tr>
                    </thead>

                    <tbody id='all-list'>
                    </tbody>
                </table>
            </div>
			<!--添加人员名单结束-->
            <hr />
            <h2><img src="./assets/img/图表.png" height="50" width="50"/> 到课率</h2>
									
									
				</div>
									</div>

							</div>
							
							
							<div class='col-md-3 col-sm-3 col-xs-3' style="overflow:hidden">
								  <img src="assets/img/Lion.jpg" alt="" width="300" height="350" style="margin:30px">
								  <h3 style="text-align:center">Jack Brown</h3>
								<h4 style="text-align:center">Jack Name</h4>
								<h4 style="text-align:center">123456789@gmail.com</h4>
							</div>
						</div>
					</div>
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-6">
							<!-- RECENT PURCHASES -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Recent Purchases</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body no-padding">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Order No.</th>
												<th>Name</th>
												<th>Amount</th>
												<th>Date &amp; Time</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="#">763648</a></td>
												<td>Steve</td>
												<td>$122</td>
												<td>Oct 21, 2016</td>
												<td><span class="label label-success">COMPLETED</span></td>
											</tr>
											<tr>
												<td><a href="#">763649</a></td>
												<td>Amber</td>
												<td>$62</td>
												<td>Oct 21, 2016</td>
												<td><span class="label label-warning">PENDING</span></td>
											</tr>
											<tr>
												<td><a href="#">763650</a></td>
												<td>Michael</td>
												<td>$34</td>
												<td>Oct 18, 2016</td>
												<td><span class="label label-danger">FAILED</span></td>
											</tr>
											<tr>
												<td><a href="#">763651</a></td>
												<td>Roger</td>
												<td>$186</td>
												<td>Oct 17, 2016</td>
												<td><span class="label label-success">SUCCESS</span></td>
											</tr>
											<tr>
												<td><a href="#">763652</a></td>
												<td>Smith</td>
												<td>$362</td>
												<td>Oct 16, 2016</td>
												<td><span class="label label-success">SUCCESS</span></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									<div class="row">
										<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 24 hours</span></div>
										<div class="col-md-6 text-right"><a href="#" class="btn btn-primary">View All Purchases</a></div>
									</div>
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
						<div class="col-md-6">
							<!-- MULTI CHARTS -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Projection vs. Realization</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<div id="visits-trends-chart" class="ct-chart"></div>
								</div>
							</div>
							<!-- END MULTI CHARTS -->
						</div>
					</div>
			<div class="row">
					
					
					<!--添加到课率高的学生-->
					<div class='col-md-3 col-sm-3 col-xs-6' style="margin-top: 10px;">
                    <div class='panel panel-default' style='width:100%;height:300px' id='chart2'>
                        <div class='panel-heading' style='height:80px;'>
                            <h3><img src="./assets/img/学生.png" height="50" width="50"/> 到课率较高的学生</h3>
                        </div>
                        <div class='panel-body' style='height:220px;overflow:auto;'>
                            <ul class='list-group'>
                                <li class="list-group-item">
                                    张晓媛
                                </li>
                                <li class="list-group-item">
                                    谢思雨
                                </li>
                                <li class="list-group-item">
                                    宁云泽
                                </li>
                                <li class="list-group-item">
                                    吴燕玲
                                </li>
                                <li class="list-group-item">

                                </li>
                                <li class="list-group-item">

                                </li>
                                <li class="list-group-item">
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
				<!--添加结束-->		
				<div class='col-md-3 col-sm-3 col-xs-6' style="margin-top: 10px;">
                    <div class='panel panel-default' style='width:100%;height:300px' id='chart2'>
                        <div class='panel-heading' style='height:80px;'>
                            <h3><img src="./assets/img/未签到.png" height="50" width="50"/> 未到人员名单</h3>
                        </div>
                        <div class='panel-body' style='height:220px;overflow:auto;'>
                            <ul class='list-group'>
                                <li class="list-group-item">
                                    李雪峰
                                </li>
                                <li class="list-group-item">
                                    张正龙
                                </li>
                                <li class="list-group-item">
                                    马龙
                                </li>
                                <li class="list-group-item">
                                    刘天云
                                </li>
                                <li class="list-group-item">

                                </li>
                                <li class="list-group-item">

                                </li>
                                <li class="list-group-item">

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
						
				<!--添加发言情况-->		
				<div class='col-md-6 col-sm-6 col-xs-12 'style="margin-top: 10px;">
                    <div class='panel panel-default' style='width:100%;height:300px' id='chart3'>
                        <div class='panel-heading' style='height:80px;'>
                            <h3><img src="./assets/img/说话.png" height="50" width="50"/> 想说的话</h3>
                        </div>
                        <div class='panel-body' style='height:220px;overflow:auto;'>
                            <ul class='list-group'>
                                <li class="list-group-item"><i class='fa  fa-female'></i>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><i class='fa  fa-male'></i>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><i class='fa  fa-female'></i>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><i class='fa  fa-male'></i>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><i class='fa  fa-female'></i>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><i class='fa  fa-male'></i>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><i class='fa  fa-female'></i>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><i class='fa  fa-male'></i>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><i class='fa  fa-female'></i>&emsp;老师课讲得不错</li>
                                <li class="list-group-item"><i class='fa  fa-male'></i>&emsp;老师课讲得不错</li>
                            </ul>
                        </div>
                    </div>
                </div>
				
				<!--添加发言结束-->
			</div>

				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<!--添加js-->
	<script src="./static/js/jquery.js"></script>
	<script src="./static/js/bootstrap.min.js"></script>
	<script src='./static/js/Chart.js'></script>
	<script src='./static/js/highcharts.js'></script>
	<!--添加js结束-->
	<script>
    //对学生名单以及未到学生名单的展示
    var object_js;
    var s=new Array();
    s.push('btn-danger');
    s.push('btn-success');
    var allList=document.getElementById('all-list');
    
    var object_no;
    var noList=document.getElementById('no-list');
    
    
    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    function check_stu(){
        $.ajax({
            url: '/main_page/data', //在这里提填写你的地址
            async: true,
            dataType: 'text',
            success: function (json_str) {
                object_js=JSON.parse(json_str);
                showAllList();
            }  
        });
    }
    
    
    function showAllList(){
        $('#all-list tr').remove();
{#		object_js = {'wsx':0,'wsx:1}#}
        var size=0,key;
        var statuses=new Array();
        var names=new Array();
        for(key in object_js){
            if(object_js.hasOwnProperty(key)){
                names.push(key);
                statuses.push(object_js[key]);
                size++;
            }
        }
        var i=0;
        for(i=0;i<size;){
            var tr=document.createElement('tr');
            do{
                if(i>=size){
                    break;
                }
                var td=document.createElement('td');
                var btn=document.createElement('a');
                btn.innerHTML=names[i];
                $(btn).attr('href','#');
                $(btn).addClass('btn');
                $(btn).css('width','100%');
                $(btn).addClass(s[statuses[i]]);
                td.appendChild(btn);
                tr.appendChild(td);
                i++;
            }while(i%7!=0);
            allList.appendChild(tr);
        }
    }
    
    
    check_stu();
    
    
    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    setInterval('check_stu()',3000);//6000是间隔时间  单位为毫秒 6000就是一分钟
    
    
    function check_stu_no(){
        $.ajax({
            url: '',
            async: true,
            dataType: 'text',
            success: function (json_str) {
                object_no=JSON.parse(json_str);
                showNoList();
            }  
        });
    }
    
    function showNoList(){
        $('#no-list tr').remove();
        var size=0;
        var names=new Array();
        for(var key in object_no){
            if(object_no.hasOwnProperty(key)){
                names.push(key);
                size++;
            }
        
        }
        for(var i=0;i<size;i++){
            var tr=document.createElement('tr');
            var td1=document.createElement('td');
            var td2=document.createElement('td');
            $(tr).addClass('danger');
            td1.innerHTML=names[i];
            td2.innerHTML='未签到';
            tr.appendChild(td1);
            tr.appendChild(td2);
            noList.appendChild(tr);
        }
    }
    
    check_stu_no()
    setInterval('check_stu_no()',60000);
    
    var allRefresh=$('#all-refresh');
    var noRefresh=$('#no-refresh');
    allRefresh.click(function(){showAllList();});
    noRefresh.click(function(){showNoList();});
    
    //对三个图表的展示
    
    //第一个图
    var data_avg=new Array();//平均到课率
    var data_my=new Array();//老师自己的课的到课率
    
    function classPercentage_avg(){
        var json_str='{"1":75,"2":80,"3":85,"4":89}';//这里是需要填写的json数据，格式是 "第几周":到课率
        var json_obj=JSON.parse(json_str);
        var data=new Array()
        for(var i in json_obj){
            data.push(json_obj[i]);
        }
        return data;
    }
    
    function classPercentage_my(){
        var json_str='{"1":80,"2":85,"3":95,"4":90}';//这里是需要填写的json数据，格式是 "第几周":到课率
        var json_obj=JSON.parse(json_str);
        var data=new Array()
        for(var i in json_obj){
            data.push(json_obj[i]);
        }
        return data;
    }
    data_avg=classPercentage_avg();
    data_my=classPercentage_my();
    
    
    
    $('#chart1').highcharts({
        title:{
            text:"到课率"
        },
        xAxis: {
            title:{
                text:'周数'
            },
            categories: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
        },
        yAxis:{
            title:{
                text:'到课百分比'
            }
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{y}%',
                }
            }
        },
        series: [{
            name:'平均到课率',
            data: data_avg
        },
        {
            name:"您的到课率",
            data:data_my
        }]
    });
    
    //到课率较高的学生
    var hrefs=new Array();
    var names=new Array();
    var all=new Array();
    var stus_good=$('#chart2 ul.list-group li.list-group-item');
    
    function suggestStu(){
        var json_str='{"小明":"./1.html","小李":"./2.html","小王":"./3.html","小吴":"./4.html","小赵":"./5.html","小黄":"./6.html","小钱":"./7.html"}';//这里是需要填写的json数据，格式是 "学生姓名":"学生主页的链接"
        var json_obj=JSON.parse(json_str);
        var names=new Array();
        var hrefs=new Array();
        for(var i in json_obj){
            names.push(i);
            hrefs.push(json_obj[i]);
        }
        return new Array(names,hrefs);
    }
    
    all=suggestStu();
    names=all[0];
    hrefs=all[1];
    
    
    
    stus_good.html(
        function(index,obj_j){
            stus_good.eq(index).html("<a class='btn btn-default' style='width:100%;border-style:none;' href='"+hrefs[index]+"'><span class='glyphicon glyphicon-user pull-left'></span>"+names[index]+"</a>");
        }
    );
            
</script>
	<script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('main'));

                        // 指定图表的配置项和数据
                        var option = {
                            title: {
                                text: '到课率'
                            },
                            tooltip: {},
                            legend: {
                                data:['以往到课率','本节到课率']
                            },
                            xAxis: {
                                data: ["周一","周二","周三","周三","周四","周五"]
                            },
                            yAxis: {

                            },
                            series: [
                                {
                                name: '以往到课率',
                                type: 'line',
                                data: [5, 20, 36, 10, 10, 20],
                                },
                                {
                                    name: '本节到课率',
                                    type: 'line',
                                    data: [8, 80, 36, 50, 90, 4]
                                }]


                        };

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    </script>
	<script>
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		// visits trend charts
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


		// visits chart
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		// real-time pie chart
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; // in milliseconds

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
	</script>
</body>
</html>
